<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polvazo.saludate">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logosaludate"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logosaludate"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.saludate.saludate.SplashScreem.SplashScreem">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saludate.saludate.Activity.login"
            android:windowSoftInputMode="adjustResize|stateHidden"   />
        <activity android:name="com.saludate.saludate.Activity.MainActivity">

        </activity>

    </application>

</manifest>